<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" href="../static/assets/img/apple-touch-icon.png"
          rel="apple-touch-icon">

<link th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png" rel="icon">
<link th:href="@{/assets/css/create-category.css}" href="../static/assets/css/create-category.css" rel="stylesheet">

</head>
<body>


<div class="parent clearfix">
    <div class="bg-illustration">
        <img th:src="@{/assets/img/logo.png}" src="../static/assets/img/logo.png" alt="logo">

        <div class="burger-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>

    <div class="login">
        <div class="container">

            <h1>Create Category</h1>
            <div class="login-form">
                <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${category}" method="post">

                    <input placeholder="Category name" th:field="*{name}">
                    <button class="glow-on-hover" type="submit">Create</button>
                    <a href="#" th:href="@{/categories.html}">
                </form>
            </div>

        </div>
    </div>
</div>

</body>
</html>