<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contest-Form</title>

    <link th:href="@{/assets/css/edit-profile.css}" href="../static/assets/css/edit-profile.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
</head>
<body>


<div class="login-page">
    <div class="form">
        <form class="login-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
              th:object="${contest}"
              method="post" enctype="multipart/form-data">

            <div>
                <input type="text" placeholder="Contest Title" th:field="*{title}">
                <p th:errors="*{title}">Contest title error</p>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <select  multiple="multiple" class="custom-select" th:field="*{categoryId}">
                        <option th:each="category : ${categories}"
                                th:value="${category.getId()}"
                                th:text="${category.getName()}">
                            <p th:errors="*{categoryId}">Category name error</p>
                        </option>
                    </select>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <select  class="form-control multiselect multiselect-icon" th:field="*{typeId}">
                            <option th:each="type : ${types}"
                                    th:value="${type.getId()}"
                                    th:text="${type.getName()}">
                                <p th:errors="*{typeId}">Type name error</p>
                            </option>
                        </select>
                    </div>

            <div>
                <input type="number" placeholder="Days Till Second Phase" th:field="*{phaseOne}">
                <p th:errors="*{phaseOne}">Days Till Second Phase error</p>
            </div>

            <div>
                <input type="number" placeholder="Hours Till Third Phase" th:field="*{phaseTwo}">
                <p th:errors="*{phaseTwo}">Days Till Third Phase error</p>
            </div>


                    <div class="form-group">
                        <select class="selectpicker" multiple data-actions-box="true" th:field="*{participants}">
                            <option th:each="participant : ${participants}"
                                    th:value="${participant.getId()}"
                                    th:text="${participant.getUserCredentials().userName}">
                            </option>
                        </select>
                    </div>

                <div>
                <select class="select-toggle" multiple="multiple" th:field="*{jury}">
                    <option th:each="user : ${jury}"
                            th:value="${user.getId()}"
                            th:text="${user.getUserCredentials().userName}">
                        Participant
                    </option>
                </select>
            </div>

            <label class="error error-custom" th:errors="*{jury}">participant error placeholder</label>
            <br/><br/>
            <br>
            <hr>
            <br>
            <input type="url" th:name="url" placeholder="Contest background url">
            <p>OR</p>
            <input type="file" name="multiPartFile" id="multiPartFile" placeholder="Choose...."
                   accept="image/png, image/jpeg, image/jpg">
            <button class="glow-on-hover" type="submit">Create</button>
            </div>
                </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
    })
</script>

</body>
</html>