<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>

    <link th:href="@{/assets/css/edit-profile.css}" href="../static/assets/css/edit-profile.css" rel="stylesheet">
</head>
<body>

<div class="login-page">
    <div class="form">
        <form class="login-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
              th:object="${updateUserDto}"
              method="post" enctype="multipart/form-data">

            <div>
                <input type="password" placeholder="Old password" th:field="*{oldPassword}">
                <p th:errors="*{oldPassword}">Old password error</p>
            </div>
            <div>
                <input type="password" placeholder="New password" th:field="*{newPassword}">
                <p th:errors="*{newPassword}">New password error</p>
            </div>
            <div>
                <input type="password" placeholder="Confirm password" th:field="*{repeatPassword}">
                <p th:errors="*{repeatPassword}">Repeat password error</p>
            </div>
            <br>
            <hr>
            <br>
            <input type="url" th:name="url" placeholder="Profile image url">
            <p>OR</p>
            <input type="file" name="multiPartFile" id="multiPartFile" placeholder="Choose...."
                   accept="image/png, image/jpeg, image/jpg">
            <button>Submit</button>
        </form>
    </div>
</div>
</body>
</html>