<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Image</title>

    <link th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" href="../static/assets/img/apple-touch-icon.png"
          rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/aos/aos.css}" href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"
          href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}"
          href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}"
          href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}"
          href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css" rel="stylesheet">
</head>
<body>

<section id="speakers">
    <div class="container">
        <div class="section-header">
            <h2>Recent contests</h2>
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="speaker">
                    <img th:src="*{image.getUrl()}" src="../static/assets/img/speakers/1.jpg"
                         alt="Speaker 1" class="img-fluid">

                    <div class="container single-contest">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="card-custom">
                                    <div class="card__side card__side--front-1">
                                        <div class="card__title card__title--1">
                                            <h4 class="card__heading" th:text="*{image.getTitle()}">Title</h4>
                                        </div>

                                        <div class="card__details">
                                            <div class="col-lg-6 col-md-6 card-text-custom">
                                                <p th:text="#{image.label.uploader}">uploader</p>
                                                <p th:text="#{image.label.story}">Story</p>
                                            </div>
                                            <div class="col-6 card-text-custom">
                                                <p th:text="*{image.getUploader().getFirstName() + ' ' + image.getUploader().getLastName()}">
                                                    Uploader Name</p>
                                                <p th:text="*{image.getStory()}">Story</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="card-custom">
                                    <div class="card__side card__side--front-2">
                                        <div class="card__title card__title--1">
                                            <h4 class="card__heading" th:text="#{image.label.rating}">Rating</h4>
                                        </div>
                                        <form class="login-form" action="#"
                                              th:action="@{__${#httpServletRequest.requestURI}__}"
                                              th:object="${imageReview}" method="post">
                                            <div id="card-own" class="card__details">

                                                <label class="text-label-own"
                                                       th:text="#{review.label.points}">Points</label>
                                                <br/>
                                                <input class="input-custom-field" type="number"
                                                       th:field="*{points}"/>
                                                <br>
                                                <label class="error error-custom" th:errors="${imageReview.points}">Name
                                                    error
                                                    placeholder</label>
                                                <br/>
                                                <label class="text-label-own"
                                                       th:text="#{review.label.comment}">Comment</label>
                                                <br/>
                                                <textarea cols="60" rows="6" th:field="*{comment}">
                                            </textarea>
                                                <br>
                                                <label class="error error-custom" th:errors="${imageReview.comment}">Name
                                                    error
                                                    placeholder</label>
                                                <br/><br/>


                                                <ul>
                                                    <li>
                                                        <a>
                                                            <button class="glow-on-hover" type="submit">SUBMIT</button>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>