<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <!-- Favicons -->
    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/aos/aos.css}" href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}" href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css" rel="stylesheet">
</head>
<body>
<header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <div id="logo" class="me-auto">
            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
            <a href="" th:href="@{/}" class="scrollto"><img src="assets/img/logo.png" alt="" title=""></a>
        </div>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#speakers">Speakers</a></li>

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <a class="buy-tickets scrollto" th:if="${currentUser != null}" th:href="@{/auth/login}" href="#">Login</a>

    </div>
</header><!-- End Header -->
<div class="container" id="container-custom">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="../static/assets/img/about-bg.jpg" th:src="*{currentUser.getProfileImage()}"  alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3 mb-0-profile">
                                <h6 class="mb-0-profile" th:text="*{currentUser.firstName + ' ' + currentUser.lastName}" >John Doe</h6>
                                <hr>
                                <!--<button class="btn btn-primary">Follow</button>-->
                                <hr>
                                <div><a class="btn btn-outline-primary " id="delete-button-own-color" href="#" th:href="@{/users/{id}/delete(id=${currentUser.getId()})}">Delete profile</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0-profile">First name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" th:text="*{currentUser.firstName}">
                                Kenneth
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0-profile">Last name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" th:text="*{currentUser.lastName}">
                                Valdez
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0-profile">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" th:each="points : ${currentUser.getPoints}">
                                <h3 th:text="*{points.getPoints()}" ></h3>
                            </div>
                        </div>
                        <hr>

                        <a class="btn btn-outline-primary" href="#" th:href="@{/users/{id}/password(id=${currentUser.getId()})}">Change password</a>
                        <a class="btn btn-outline-primary" href="#" th:href="@{/users/{id}/address(id=${currentUser.getId()})}">Change address</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>