<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ranking</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
  <link th:href="@{/assets/css/users-ranking.css}" href="../static/assets/css/users-ranking.css" rel="stylesheet">
  <link th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css" rel="stylesheet">

</head>
<body>
  <div class="row user-ranking-custom">
    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
      <div class="team text-center rounded p-3 py-4">
        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
        <div class="content mt-3">
          <h4 class="title mb-0">Lisa Martin</h4>
          <small class="text-muted">Founder</small>
        </div>
      </div>
    </div><!--end col-->

    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
      <div class="team text-center rounded p-3 py-4">
        <img src="https://bootdey.com/img/Content/avatar/avatar8.png" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
        <div class="content mt-3">
          <h4 class="title mb-0">Calvin Carlo</h4>
          <small class="text-muted">C.E.O.</small>
        </div>
      </div>
    </div><!--end col-->

  </div><!--end row-->
</div>
</body>
</html>